app:
  timezone: "Asia/Tbilisi"
  board:
    defaultRefreshSeconds: 30
    defaultLimit: 20

discord:
  token: "${DISCORD_TOKEN}"

spring:
  datasource:
    url: "jdbc:mysql://${DB_HOST:local}:${DB_PORT:3306}/${DB_NAME:voice_bot}?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC"
    username: "${DB_USER:root}"
    password: "${DB_PASSWORD:root}"
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.jdbc.time_zone: UTC

  flyway:
    enabled: true
    url: "jdbc:mysql://${DB_HOST:local}:${DB_PORT:3306}/${DB_NAME:voice_bot}?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC"
    username: "${DB_USER:root}"
    password: "${DB_PASSWORD:root}"

logging:
  level:
    org.flywaydb: DEBUG
